.header{
  width: 70%;
  margin: auto;
  height: 50px;
}
.name{
  width: 43%;
  height: 45px;
  margin: auto;
}
.logo{
  float: left;
  img{
    width: 30px;
    height: 30px;
  }
}
.menu{
  width: 70%;
  margin: auto;
  height: 30px;
  a{
    padding: 0% 3%;
  }
}
