.mainHeader{
  display: flex;
  justify-content: center;
}
#name{
  font-size: 5em;
  font-weight: bold;
}
.menu{
  display: flex;
  justify-content: center;
  flex-flow: row;
  padding: 0;
  margin: 0;
  width: 100%;
  background: #43dea6;
  a{
    outline:none;
    cursor:pointer;
  }
  img{
    width: 100%;
    height: 85px;
  }
}
